<div class = "mainGallery">
{{#if user}}
<div id="top-menu">
  <div class="welcome">
    {{!-- Welcome <span>{{username}}</span> --}}
    Welcome <span>{{user}}</span>
  </div>
  <div id="list-action-buttons">
    <form action="/gallery/new" method="GET">
      <button id="new-post">
        New Post
      </button>
    </form>
    <form action="/logout" method="POST">
      <button id="log-out">
        Log Out
      </button>
    </form>
    <form action="/{{username}}/gallery" method="GET">
      <button id="my-gallery">
        My Gallery
      </button>
    </form>
  </div>
</div>
{{else}}
<div id="top-menu">
  <div class="welcome">
    Welcome <span>Creeper!</span>
  </div>
  <form action="/login" method="GET">
    <button id="login">
      Login
    </button>
  </form>
  <form action="/create">
    <button class="create-account">
      Create Account
    </button>
  </form>
</div>
{{/if}}
<div id="hero">
  <a href="/gallery/{{id}}">
    <img src="/assets/Captain_America.jpg" class="photo">
  </a>
</div>
<hr>
  <div class="multiCardContainer">
    {{#each images}}
    
      <div class="photoContainer">
        <a href="/gallery/{{id}}" class="photoLink">
          <img src="{{link}}" class="photo">
        <br>
        <div class="authors-descriptions">
          {{author}} -<br>{{link}}<br>posted by: <span>{{user.username}}</span> on {{createdAt}}
        </div> 
        </a>
        <br>
      </div>
    {{/each}}
<hr>
  </div>
</div>