<div class = "mainGallery">

<div id="hero">
  <a href="/gallery/{{id}}">
    <img src="/assets/Captain_America.jpg" class="photo">
  </a>
</div>
<hr>
  <div class="multiCardContainer">
    {{#each images}}
    
      <div class="photoContainer">
        <a href="/gallery/{{id}}" class="photoLink">
          <img src="{{link}}" class="photo">
        <br>
        <div class="authors-descriptions">
          {{author}} - {{link}} 
        </div> 
        </a>
        <br>
      </div>
      <br>
    {{/each}}
<hr>
  </div>
</div>