<div class = "mainGallery">

<a href="{{image.link}}"><img class = "imageBox" src="{{image.link}}" alt=""></a>
{{image.author}}
<a href="{{image.link}}"><h4 class = "link">{{image.link}}</h4></a>
{{image.description}}
</div>