<div id="all-photos-container">
{{#if username}}
  <div class="welcome">
    Welcome  <span>{{username}}</span>
  </div>
  <form action="/logout" method="POST">
    <button id="log-out">
      Log Out
    </button>
  </form>
{{/if}}
  <div class="authors-descriptions-single">
    <p>{{image.author}} - </p>
    <p>{{image.link}}</p>  
  </div>
  <div class = "photoContainer-single">
    <div id="selected-photo">      
      <a href="{{image.link}}">
        <img src="{{image.link}}" class="photo-single">
      </a>
      <div class="description">
      {{image.description}}
      </div>
      <div id="postedBy">
      From: {{user.username}} <br>
      @ {{image.createdAt}}
      </div>
    </div>   
    <div id="forms">
      <form action="/gallery/{{image.id}}?_method=DELETE" method="POST" id="delete">
        <button class="submit" id="delete" type="submit">Delete
        </button>
      </form>

      <form action="/gallery/{{image.id}}/edit?_method=GET" method="POST" id="submit">
        <button class="submit" id="edit" type="submit">
          Edit
        </button>
      </form>

      <form action="../?_method=GET" method="POST" id="go-back">
        <button class="submit" id="backBtn" type="submit">
          Like go back to Gallery, ya?
        </button>
      </form>
    </div>
  </div>
    <div class="multiCardContainer" id="desktop-detail">
      {{#each images}}  
        <div class="photoContainer-images">
          <a href="/gallery/{{id}}" class="photoLink-single">
            <img src="{{link}}" class="photo">
          </a>
          <div class="authors-descriptions-sidebar">
            <p>{{author}}-</p>
            <p>{{link}}</p>
            <p>by: {{user.username}}</p>
          </div> 
        </div>
      {{/each}}  
    </div>
</div>
