<div class = "mainGallery">
{{#each images}}
<img class = "imageBox" src="{{link}}" alt="">
{{author}} <br>
<a href="{{link}}"><h4 class = "link">{{link}}</h4></a>
{{description}}  <br>

{{/each}}
</div>